@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-primary color_1">HOME</h1>
    <img src='images/cp-lg.jpg' style='width: 80%;' alt="Brazil Campinas Temple" />
</div>