@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="color_1">
    <h1>@ViewData["Title"]</h1>
    <p>In this privacy policy, the CSS Group explains how it uses the data generated when you visit our websites.</p>
    <br />

    <h3>General</h3>
    <p>Your data is processed in accordance with Swiss data protection law, except in cases where it is subject to the privacy policies of other companies, such as Facebook Inc., Google Inc., etc., over which CSS has no influence.</p>

    <h3>Recorded data</h3>
    <p>When you visit our websites, records, stores and uses general, non-personal data. The following data in particular is saved in log files when you access our websites.</p>

    <h3>Active content</h3>
    <p>We use active content, including HTML/CSS, Java Script and Java. This is content on websites that is not run until a user is actually visiting the site. It expands the content of the static websites. If you do not wish to see this active content, you can deactivate it via your browser. However, this may make it difficult or even impossible to use our sites.</p>

    <h3>Updating the Privacy Policy</h3>
    <p>
        We reserve the right to amend this privacy policy at any time and bring it into line with any new data processing procedures.<br />This privacy policy was last amended in December 2019.
    </p>
</div>
